* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* VARIABLES */
  --primary-text-color: #2b2b2b;

  --primary-color: #3ba58a;
  --secondary-color: #4e426d;
  --primary-shade: #f5f7fb;
  --secondary-shade: #d8dbe3;
  --primary-accent: #ffa337;
  --secondary-accent: #eea886;

  --max-width: 1200px;

  --navbar-height: 66px;
  --container-height: calc(100vh - var(--navbar-height));

  --layout-padding: 22px;
  --layout-secondary-padding: 34px;
  --mobile-padding: 12px;

  background-color: #3ba58a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  font-size: clamp(3.125rem, 5vw, 5rem);
  line-height: 1.07143;
  letter-spacing: -0.005em;
}
h2 {
  font-size: clamp(32px, 3vw, 48px);
  /* font-weight: lighter; */
  line-height: 1.07143;
  letter-spacing: -0.005em;
}
h3 {
  font-size: clamp(21px, 4vw, 28px);
  line-height: 1.14286;
  letter-spacing: 0.007em;
}
h4 {
  font-size: clamp(17px, 3vw, 20px);
  line-height: 1.14286;
  letter-spacing: 0.007em;
}
h5 {
  font-size: clamp(0.9rem, 0.5vw, 1rem);
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 1.381;
}
p {
  font-size: clamp(16px, 1.2vw, 17px);
  line-height: clamp(25.000032424926758px, 0.5vw, 29.001001358032227px);
  letter-spacing: clamp(0.011em, 0.5vw, 0.022em);
}

button {
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px 16px;
  border-radius: 5px;
  font-size: clamp(16px, 3vw, 18px);
}
button:hover {
  cursor: pointer;
  transform: scale(0.99);
  /* transform: scale(1.02); */
}
button:active {
  transform: scale(0.98);
}

.lightmode {
  text-align: center;
  background-color: var(--primary-shade);
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.darkmode {
  background-color: var(--primary-shade);

  --primary-text-color: white;
  --primary-shade: #212121;
  --secondary-shade: #383838;
}
